<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理用户</title>
</head>
<body>
    <div th:replace="head/head::head"></div>
    <div style="text-align: center;">
        <a style="font-size: 30px;" th:href="@{/admin/user/add}">增加</a>
        <table style="width: 50%; margin:auto;">
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>权限</th>
                <th>操作</th>
            </tr>
            <tr th:each="user : ${userList}" >
                <td th:text="${user.id}" ></td>
                <td th:text="${user.username}" ></td>
                <td th:text="${user.email}" ></td>
                <td th:text="${user.authority}" ></td>
                <td>
                    <a th:href="@{'/admin/user/del/'+${user.id}}">删除</a>
                    <a th:href="@{'/admin/user/upd/'+${user.id}}">升级vip</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>